# Python
__pycache__/
*.pyc

# Virtual environments
.conda-env/
venv/
env/

# Streamlit
.streamlit/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Python cache
.pytest_cache/

# Jupyter
.ipynb_checkpoints/